rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
        match /users/{userId} {
      allow read: if request.auth != null
                  && request.auth.uid == userId;

      allow create: if
        request.auth != null
        && request.auth.uid == userId
        && request.resource.data.keys().hasOnly([
          'role'
        ])
        && request.resource.data.role == 'customer';

      allow update, delete: if false;
    }

    match /products/{productId} {
      allow read: if true;

      allow create: if
        request.resource.data.keys().hasOnly([
          'title',
          'description',
          'price',
          'oldPrice',
          'imageUrl',
          'galleryImages',
          'rating',
          'sortOrder'
        ]) &&
        request.resource.data.keys().hasAll([
          'title',
          'description',
          'price',
          'oldPrice',
          'imageUrl',
          'galleryImages',
          'rating',
          'sortOrder'
        ]) &&
        request.resource.data.title is string &&
        request.resource.data.description is string &&
        request.resource.data.price is number &&
        request.resource.data.oldPrice is number &&
        request.resource.data.imageUrl is string &&
        request.resource.data.galleryImages is list &&
        request.resource.data.rating is string &&
        request.resource.data.sortOrder is number &&
        request.resource.data.price > 0 &&
        request.resource.data.oldPrice > request.resource.data.price;

      allow update: if
        request.resource.data
          .diff(resource.data)
          .affectedKeys()
          .hasOnly([
            'title',
            'description',
            'price',
            'oldPrice'
          ]) &&
        request.resource.data.title is string &&
        request.resource.data.description is string &&
        request.resource.data.price is number &&
        request.resource.data.oldPrice is number &&
        request.resource.data.price > 0 &&
        request.resource.data.oldPrice > request.resource.data.price;

      allow delete: if true;
    }
  }
}