.products__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 24px;
  align-items: stretch;
}
.product__card--main {
  grid-row: span 2;
}
@media (max-width: 950px) {
  .products__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }
}
